pip==24.0
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers==4.38.2
indictranstoolkit
sentencepiece
sacremoses
nltk
click>=8.1.7
onnx==1.20.1
onnxruntime==1.20.1
onnxruntime-gpu==1.20.1
pyctcdecode
gTTS
huggingface_hub
fastapi
uvicorn[standard]
python-multipart
